<div id="sidenav">
        <div id="sidenav-header">
            <img src="/assets/img/logo/join_logo.svg" alt="logo">
        </div>
        <div id="sidenav-menu">
            <div class="sidenav-menu-item">
                <img src="/assets/img/icons/summary.svg" alt="summary">
                <span>Summary</span>
            </div>
            <div class="sidenav-menu-item">
                <img src="/assets/img/icons/addTask.svg" alt="summary">
                <span>Add Task</span>
            </div>
            <div class="sidenav-menu-item">
                <img src="/assets/img/icons/board.svg" alt="summary">
                <span>Board</span>
            </div>
            <div class="sidenav-menu-item">
                <img src="/assets/img/icons/contacts.svg" alt="summary">
                <span>Contacts</span>
            </div>
        </div>
        <div id="sidenav-footer">
            <span>Privacy Police</span>
            <span>Legal notice</span>
        </div>
</div>