<div id="summary">
    <div id="summary-header">
        <h1>Join 360</h1>
        <div id="summary-header-divider"></div>
        <h3>Key Metrics at a Glance</h3>
    </div>
    <div id="summary-grid">
        <div class="summary-grid-row">
            <div class="summary-grid-row-element">To-Do</div>
            <div class="summary-grid-row-element">Done</div>
        </div>
        <div class="summary-grid-row">
            <div class="summary-grid-row-element">Upcomming</div>
        </div>
        <div class="summary-grid-row">
            <div class="summary-grid-row-element">
                    <span *ngIf="tasksInBoard == undefined" class="loader"></span>
                    <span *ngIf="tasksInBoard != undefined">{{tasksInBoard}}</span>
                    <span>Tasks in Board</span>             
            </div>
            <div class="summary-grid-row-element">Tasks in Progress</div>
            <div class="summary-grid-row-element">Awaiting Feedback</div>
        </div>
    </div>
</div>